* {
    box-sizing: border-box;
}
.order-form {
    .page-title {
        font-size: 2.5em;
        font-weight: 600;
        text-transform: uppercase;
        color: #3FAE49;
        margin-bottom: 35px;
    }
}
.order-form__main {
    padding-bottom: 50px;
    margin-bottom: 20px;

    .field-wrapper {
        .form-required {
            color: red;
        }

        input {
            border-width: 0px;
            border: none;
        }
    }

    .field-wrapper--pick-up-date {
        &:not(:first-child) {
            margin-left: 10px;
        }
        .element-invisible {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px,1px,1px,1px);
            overflow: hidden;
            height: 1px;
        }
    }
    
}

.field-wrapper__container {
    .date-picker {
        padding-left: 3px;
        padding-right: 3px;
        vertical-align: top;
    }
}

.form-actions {
    text-align: right;
    padding-top: 10px;
    .form-submit {
        background: transparent !important;
        padding: 0 !important;
        color: #3FAE49;
        font-size: 1.2em !important;
        font-weight: bold;
        width: auto;
        border: none;
    }
}

.form-text {
    width: 100%;
}

.field-wrapper__line {
    position: relative;
    &::after {
        content: '';
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 2px;
        left: 0;
        background: url("https://cdn.shopify.com/s/files/1/0271/7220/8715/files/border-btm.png?v=1612420874") left no-repeat;
        background-size: cover;
    }
}

.field-wrapper__line--custom1 {
    position: relative;
    &::after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: url("https://cdn.shopify.com/s/files/1/0271/7220/8715/files/border-btm.png?v=1612420874") left no-repeat;
        background-size: cover;
    }
}
.field-wrapper__line--custom2 {
    position: relative;
    &::after {
        content: '';
        height: 5px;
        width: 100%;
        position: absolute;
        top: 74px;
        left: 0;
        background: url("https://cdn.shopify.com/s/files/1/0271/7220/8715/files/border-btm.png?v=1612420874") left no-repeat;
        background-size: cover;
    }
}

.ui-datepicker {
    opacity: 0;
    display: none;
}