* {
    box-sizing: border-box;
}

.form-text {
    width: 100%;
}

.field-wrapper--pick-up-date {
    &:not(:first-child) {
        margin-left: 10px;
    }
    .element-invisible {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px,1px,1px,1px);
        overflow: hidden;
        height: 1px;
    }
}

.field-wrapper {
    position: relative;
    &::after {
        content: '';
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: url("https://cdn.shopify.com/s/files/1/0271/7220/8715/files/border-btm.png?v=1612420874") left no-repeat;
        background-size: cover;
    }
}

